<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
/>

<div class="layout-page">
  <!-- Content wrapper -->
  <div class="content-wrapper">
    <!-- Menu -->

    <!-- / Menu -->

    <div class="container-xxl flex-grow-1 container-p-y" id="width-value">
      <!-- <div class="app-ecommerce">  -->
      <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
          <!-- <div class="card mb-4"> -->
          <!-- <div class="card-body"> -->
          <!-- <div class="d-flex justify-content-between align-items-center mb-4"> -->
        </div>
        <div class="card">
          <div class="card-body">
            <!-- Breadcrumb and Title -->
            <div class="d-flex justify-content-between align-items-center mb-4">
              <div>
                <ol class="breadcrumb custom-breadcrumb">
                  <li class="breadcrumb-item"><a href="#">BankCashPro</a></li>
                  <li class="breadcrumb-item">
                    <a href="#">Cashflow Forecasting</a>
                  </li>
                  <li class="breadcrumb-item"><a href="#">Transaction</a></li>
                  <li
                    class="breadcrumb-item active bold-f-b"
                    aria-current="page"
                  >
                    <a href="javascript:void(0)">Listing Page</a>
                  </li>
                </ol>
              </div>
              <div class="button-group" style="margin-top: -22px">
                <button
                  type="button"
                  class="btn btn-primary waves-effect waves-light"
                  [routerLink]="['/manual-four']"
                >
                  <span class="tf-icons mdi mdi-plus-box-outline me-1"></span
                  >Initiate
                </button>
                <button class="btn btn-secondary" (click)="reviewBtn()">
                  <!-- [ngClass]="{'threeBtn': activeButton === 'reviewBg'}" -->
                  Review
                </button>
                <button class="btn btn-warning" (click)="pendingBtn()">
                  <!-- [ngClass]="{'threeBtn': activeButton === 'pendingtBg'}" -->
                  Pending
                </button>
                <button
                  class="btn btn-danger waves-effect waves-light"
                  (click)="rejectBtn()"
                >
                  Rejected
                </button>
              </div>
            </div>

            <!-- Search and Filter -->
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="input-group">
                  <select
                    [(ngModel)]="selectedOption"
                    (ngModelChange)="onOptionChange()"
                    class="form-select"
                    aria-label="Search By"
                  >
                    <option [value]="0">Reference No</option>
                    <option [value]="1">Corporate Code</option>
                    <option [value]="2">Corporate Name</option>
                    <option [value]="3">Forecasting As</option>
                    <option [value]="4">Entry Type</option>
                  </select>
                  <input
                    type="text"
                    [(ngModel)]="searchValue"
                    class="search-value"
                    placeholder="Enter Search Value"
                    aria-label="Search Value"
                  />
                  <button
                    class="btn btn-primary"
                    (click)="search()"
                    type="button"
                  >
                    <i class="mdi mdi-magnify"> Search</i>
                  </button>
                </div>
              </div>
            </div>

            <!-- Action Buttons -->
            <div
              class="d-flex justify-content-between align-items-center mb-3"
              style="margin-top: 4px"
            >
              <span>0 Transactions Selected</span>
              <div>
                <button
                  class="btn rounded-pill btn-label-primary me-2"
                  *ngIf="authorizeAll"
                  (click)="authorizeBtn()"
                >
                  Authorize All
                </button>
                <button
                  class="btn rounded-pill btn-label-secondary me-2 margin"
                  *ngIf="rejectAll"
                  (click)="showPopup()"
                >
                  Reject All
                </button>
                <!-- <app-popup #popup></app-popup> -->
              </div>
            </div>

            <!-- Data Table -->
            <div class="table-responsive">
              <table
                class="table table-bordered table-striped"
                id="listingTable"
              >
                <thead class="table-light">
                  <tr>
                    <th scope="col" *ngIf="tickBox">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        (change)="toggleHeaderCheckbox($event)"
                        [checked]="isChecked"
                      />
                    </th>
                    <th scope="col">Reference No</th>
                    <th scope="col">Corporate Code</th>
                    <th scope="col">Corporate Name</th>
                    <th scope="col">Forecasting As</th>
                    <th scope="col">Entry Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Account No</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Recurrence Pattern</th>
                    <th scope="col" *ngIf="showAdditionalColumns">
                      Rejection Reason
                    </th>
                    <th scope="col" *ngIf="showAdditionalColumns">Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let result of results; let i = index">
                    <td *ngIf="tickBox">
                      <input
                        class="form-check-input"
                        [(ngModel)]="checkedItems[i]"
                        (change)="toggleCheckbox($event, result.id)"
                        type="checkbox"
                      />
                    </td>
                    <td>{{ result.referenceNumber }}</td>
                    <td>{{ result.corporateCode }}</td>
                    <td>{{ result.corporateName }}</td>
                    <td>{{ result.forecastingAs }}</td>
                    <td>{{ result.entryType }}</td>
                    <td>{{ result.description }}</td>
                    <td>{{ result.accountNumber }}</td>
                    <td>{{ result.forecastedAmount }}</td>
                    <td>{{ result.currency }}</td>
                    <td>{{ result.recurrencePattern }}</td>
                    <!-- <td>{{ result.status }}</td> -->
                    <!--  FOR REJECTED ME-->
                    <td *ngIf="showAdditionalColumns">
                      {{ result.rejectionReason }}
                    </td>
                    <td *ngIf="showAdditionalColumns">{{ result.status }}</td>
                    <td>
                      <button
                        class="btn btn-outline-primary waves-effect"
                        (click)="view($event, result.id)"
                        *ngIf="hideOnlyPending"
                      >
                        <i class="mdi mdi-eye"></i>
                      </button>
                        <button
                          class="btn btn-outline-warning waves-effect"
                          *ngIf="hideOnlyPending"
                          (click)="showPopup2($event, result.id , result.data)"

                        >
                          <i class="mdi mdi-pencil-box-multiple-outline"></i>
                        </button>
                      <div class="flex">
                        <button
                          *ngIf="showOnlyPending"
                          class="btn-none green"
                          (click)="rightIconApi()"
                        >
                          <i class="bi bi-check2"></i>
                        </button>
                        <button
                          *ngIf="showOnlyPending"
                          class="btn-none red"
                          (click)="showPopup1()"
                          
                        >
                          <i class="bi bi-x"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <!-- Add more rows as needed -->
                </tbody>
              </table>
            </div>

            <!-- Pagination -->
            <div class="d-flex justify-content-between align-items-center mt-3">
              <span>1 of 1</span>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!-- popup.component.html 1 -->
      <div class="popup-overlay" *ngIf="isPopupVisible">
        <div class="popup-content">
          <h3 class="popup-title">Reject All</h3>
          <form class="popup-form">
            <!-- @for (item of items; track $index) {} -->
            <input
              type="text"
              [(ngModel)]="rejectionReason"
              placeholder="Enter reason"
              class="form-input"
            />
            <div class="popup-buttons">
              <button
                type="button"
                class="btn btn-confirm"
                (click)="onConfirm()"
              >
                Submit
              </button>
              <button type="button" class="btn btn-cancel" (click)="onCancel()">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>

      <!-- popup 2 -->
      <div class="dialog-overlay" *ngIf="isDialogVisible">
        <div class="dialog-content">
          <h3 class="dialog-title">Reject All</h3>
          <form class="dialog-form">
            <input
              type="text"
              [(ngModel)]="rejectionReason"
              placeholder="Enter reason"
              class="form-input"
            />
            <div class="dialog-buttons">
              <button
                type="button"
                class="btn btn-confirm"
                (click)="onConfirm1()"
              >
                Submit
              </button>
              <button
                type="button"
                class="btn btn-cancel"
                (click)="onCancel1()"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>

      <!-- forms -->
       <div class="formss">
          <form #form="ngForm"   *ngIf="editPopUpVisible">
        <!-- (ngSubmit)="submitForm()" -->
            <!-- Row 1: Corporate Code, Corporate Name, Forecasting As, Entry Type -->
            <div class="row mb-3">
              <div class="col-md-3">
                <div class="mb-2">
                  <label for="corporateCode" class="form-label"
                    >Corporate Code*</label
                  >
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="corporateCode"
                      name="corporateCode"
                      placeholder="Select Corporate Code"
                      disabled
                      />
                      <!-- [(ngModel)]="formData.corporateCode" -->
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                      data-bs-toggle="modal"
                      data-bs-target="#corporateCodeModal"
                      >
                      <!-- (click)="openPopup()" -->
                      <i class="mdi mdi-magnify"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="corporateName" class="form-label"
                    >Corporate Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="corporateName"
                    name="corporateName"
                    placeholder="Enter Corporate Name"
                    disabled
                    />
                    <!-- [(ngModel)]="formData.corporateName" -->
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-2">
                  <label for="forecastingAs" class="form-label"
                    >Forecasting As*</label
                  >
                  <select
                    class="form-select"
                    id="forecastingAs"
                    name="forecastingAs"
                    >
                    <!-- [(ngModel)]="formData.forecastingAs" -->
                    <!-- (change)="onForecastingAsChange($event)" -->
                    <option selected value="">Please Select</option>
                    <option value="Inward Payment">Inward Payment</option>
                    <option value="Outward Payment">Outward Payment</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-2">
                  <label for="entryType" class="form-label">Entry Type*</label>
                  <select
                    class="form-select"
                    id="entryType"
                    name="entryType"
                    >
                    <!-- (change)="toggleValueDate()" -->
                    <!-- [(ngModel)]="formData.entryType" -->
                    <option selected value="">Please Select</option>
                    <option value="O">One Time</option>
                    <option value="R">Recurring</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- Row 2: Narration, Description, Mode, Beneficiary/Payer -->
            <div class="row mb-3">
              <div class="col-md-3">
                <div class="mb-2">
                  <label for="narration" class="form-label">Narration*</label>
                  <input
                    type="text"
                    class="form-control"
                    id="narration"
                    name="narration"
                    placeholder="Enter Narration"
                    />
                    <!-- [(ngModel)]="formData.narration" -->
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-2">
                  <label for="description" class="form-label"
                    >Description</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="description"
                    name="description"
                    placeholder="Enter Description"
                    />
                    <!-- [(ngModel)]="formData.description" -->
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-2">
                  <label for="mode" class="form-label">Mode*</label>
                  <select
                    class="form-select"
                    id="mode"
                    name="mode"
                    >
                    <!-- [(ngModel)]="formData.mode" -->
                    <option selected value="">Please Select</option>
                    <option
                    >
                    <!-- [value]="option.value" -->
                    <!-- *ngFor="let option of modeOptionsList" -->
                      <!-- {{ option.text }} -->
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-2">
                  <label for="beneficiaryPayers" class="form-label"
                    >Beneficiary / Payer</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="beneficiaryPayers"
                    name="beneficiaryPayers"
                    placeholder="Enter Beneficiary Payer"
                    />
                    <!-- [(ngModel)]="formData.beneficiaryPayers" -->
                </div>
              </div>
            </div>
            <!-- Row 3: Account Type, Account Number, Forecasted Amount, Lock Record -->
            <div class="row mb-3">
              <div class="col-md-3">
                <div class="mb-2">
                  <label for="accountType" class="form-label"
                    >Account Type*</label
                  >
                  <select
                    class="form-select"
                    id="accountType"
                    name="accountType"
                    >
                    <!-- (change)="onAccountTypeChange()" -->
                    <!-- [(ngModel)]="formData.accountType" -->
                    <option selected value="">Please Select</option>
                    <option value="Internal Account">Internal Account</option>
                    <option value="External Account">External Account</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-2">
                  <label for="accountNumber" class="form-label"
                    >Account Number*</label
                  >
                  <select
                    class="form-select"
                    id="accountNumber"
                    name="accountNumber"
                    >
                    <!-- [disabled]="this.formData.corporateCode === ''" -->
                    <!-- [(ngModel)]="formData.accountNumber" -->
                    <option value="" selected>Please Select</option>
                    <option
                    >
                    <!-- [value]="account.accountNumber" -->
                    <!-- *ngFor="let account of accountTypes" -->
                      <!-- {{ account.accountNumber }} -->
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-2">
                  <label for="forecastedAmount" class="form-label"
                    >Forecasted Amount*</label
                  >
                  <div class="input-group">
                    <select
                      class="form-select"
                      style="width: 25% !important"
                      name="forecastCurrency"
                      >
                      <!-- [(ngModel)]="formData.forecastCurrency" -->
                      <option value="INR" selected>INR</option>
                      <!-- Add other currency options here -->
                      <option value="USD">USD</option>
                      <option value="EUR">EUR</option>
                      <!-- Add more as needed -->
                    </select>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Forecasted Amount"
                      style="width: 65% !important"
                      name="forecastedAmount"
                      />
                      <!-- [(ngModel)]="formData.forecastedAmount" -->
                  </div>
                </div>
              </div>
              <div class="col-md-3 mt-4">
                <div class="form-check form-switch mt-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="lockRecord"
                    name="lockRecord"
                    />
                    <!-- [(ngModel)]="formData.lockRecord" -->
                  <label class="form-check-label" for="lockRecord"
                    >Lock Record in Cash Flow</label
                  >
                </div>
              </div>
              <div class="col-md-3" id="valueDateField" style="display: none">
                <div class="mb-2">
                  <label for="valueDate" class="form-label">Value Date*</label>
                  <input
                    type="date"
                    class="form-control"
                    id="valueDate"
                    name="valueDate"
                    />
                    <!-- [(ngModel)]="formData.valueDate" -->
                </div>
              </div>

              <div
                class="col-md-3"
                id="recurringFieldsFrom"
                style="display: none"
              >
                <div class="mb-3">
                  <label for="recurringFrom" class="form-label"
                    >Recurring From*</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="recurringFrom"
                    name="recurringFrom"
                    />
                    <!-- [(ngModel)]="formData.recurringFrom" -->
                </div>
              </div>

              <div
                class="col-md-3"
                id="recurringFieldsTo"
                style="display: none"
              >
                <div class="mb-3">
                  <label for="recurringTo" class="form-label"
                    >Recurring To</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="recurringTo"
                    name="recurringTo"
                    />
                    <!-- [(ngModel)]="formData.recurringTo" -->
                </div>
              </div>

              <div
                class="col-md-3"
                id="recurringFieldsPattern"
                style="display: none"
              >
                <div class="mb-3">
                  <label for="recurringPattern" class="form-label" 
                    >Recurring Pattern*</label
                  >
                  <select
                    class="form-select"
                    id="recurringPattern"
                    name="recurringPattern"
                    >
                    <!-- [(ngModel)]="formData.recurringPattern" -->
                    <option selected value="">Please Select</option>
                    <option>Daily</option>
                    <option>Weekly</option>
                    <option>Monthly</option>
                  </select>
                  <!-- Add other patterns as needed -->
                </div>
              </div>
              <!-- Submit Button for  -->
              <div class="d-flex justify-content-start">
                <button type="button"  class="btn btn-secondary mt-3 btn-1" (click)="cancle2()">
                  <!-- (click)="cancel()" -->
                Cancel
                </button>
                <button type="submit" class="btn btn-primary mt-3" id="fade-in-animation" (click)="onConfirm2()">
                  Save
                </button>

                <!-- <button class="btn btn-primary" id="fade-in-animation">Fade In</button> -->
              </div>
              <div class="modal-dialog modal-lg modal-dialog-centered">
                <div
                  class="modal fade"
                  id="corporateCodeModal"
                  tabindex="-1"
                  aria-labelledby="corporateCodeModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="corporateCodeModalLabel">
                          Corporate Code Details
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <div class="search-section" style="margin-bottom: 10px">
                          <div class="row">
                            <div class="col-lg-5">
                              <select
                                class="form-select bbl-0"
                                aria-label="Search By"
                                id="searchBy"
                              >
                                <option value="corporateCode" selected>
                                  Corporate Code
                                </option>
                                <option value="corporateName">
                                  Corporate Name
                                </option>
                                <!-- Add more options as needed -->
                              </select>
                            </div>
                            <div class="col-lg-5">
                              <input
                                type="text"
                                class="form-control"
                                name="searchby"
                                placeholder="Enter Data"
                                />
                                <!-- [(ngModel)]="searchbyTxt" -->
                            </div>
                            <div class="col-lg-2">
                              <button
                                class="btn btn-primary bbr-0"
                                type="button"
                                >
                                <!-- (click)="onSearchClick()" -->
                                <i class="mdi mdi-magnify"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>Corporate Code</th>
                                <th>Corporate Name</th>
                                <th>Links</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr
                                class="selectable-row"
                                data-bs-dismiss="modal"
                                >
                                <!-- (click)="selectRow(user)" -->
                                <!-- *ngFor="let user of filteredUsers" -->
                                <!-- <td>{{ user.corporateCode }}</td> -->
                                <!-- <td>{{ user.corporateName }}</td> -->
                                <td>
                                  <!-- [href]="user.links" -->
                                  <a
                                    target="_blank"
                                    class="mdi mdi-menu-right"
                                  >
                                </a>
                                <!-- {{ user.links }} -->
                                </td>
                              </tr>
                              <!-- Add more rows as needed -->
                            </tbody>
                          </table>
                        </div>

                        <div
                          class="d-flex justify-content-between align-items-center mt-3"
                        >
                          <button class="btn btn-link" >
                            <!-- (click)="refreshData()" -->
                            refresh
                          </button>
                          <div class="btn-bottom">
                            <button class="btn btn-outline-secondary">
                              <i class="mdi mdi-menu-left"></i>
                            </button>
                            <span>1 of 8</span>
                            <button class="btn btn-outline-secondary">
                              <i class="mdi mdi-menu-right"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- </div> -->
            </div>
          </form>
          </div>
      
      
      
    </div>

    <!--/ Content -->

    <div class="content-backdrop fade"></div>
  </div>
  <!--/ Content wrapper -->
</div>
<!-- </div> -->

<!--/ Layout container -->
<!-- </div> -->
